body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f6fa;
}

header {
  background-color: #f38b8b;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

/* ===== PRODUTOS ===== */
#produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  flex: 3;
}

.produto {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.produto:hover {
  transform: scale(1.03);
}

.produto img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.produto h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.produto p {
  font-size: 0.9rem;
  color: #555;
  height: 40px;
}

.produto button {
  background-color: #ee4e4e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.produto button:hover {
  background-color: #b95a5a;
}

/* ===== CARRINHO ===== */
#carrinho {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  height: fit-content;
}

#carrinho ul {
  list-style: none;
  padding: 0;
}

#carrinho li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

/* ===== ENTREGA / MAPA ===== */
#entrega {
  background: #fff;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#mapa {
  margin-top: 1rem;
  height: 300px;
  border-radius: 10px;
}

#cep {
  padding: 0.4rem;
  margin: 0.5rem 0;
}

#buscarCEP {
  padding: 0.4rem 1rem;
  background-color: #f84141;
  color: white;
  border: none;
  border-radius: 5px;
}

#buscarCEP:hover {
  background-color: #9c1d1d;
}

